/*! HTML5 Template */

/* TODO add 'active' css to nav item (p.97)*/

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,300,700,400italic,300italic);


/* HTML */
html {
    color: #52565a;
    font-size: 1em;
    line-height: 1.4;
    background-color: #EFF0EA ;

}

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

h2,
h3,
h4,
h5,
h6{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #84b4b1;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

html {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    position: relative;
}


/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    top: 0;
    border-bottom: 20px solid #84b4b1;
    color: #fff;
    text-align: center;
    padding: 30px 0 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 340px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.header-container h1{
    height: 110px;
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 0.8;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
    opacity: 1;
         -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
                 transition: all 0.3s;
}

.header-container h1 span{
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 25px;
    line-height: 1;
}

.header-container.shrink {
    padding-top: 0.5rem;
    height: 5rem;
}

.header-container.shrink h1 {
    opacity: 0;
    height:0;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header-container .site-title-scroll{
    display: inline;
    float: left;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 0.4rem;
    font-family: "Montserrat", sans-serif;
    margin-left: 0.3rem;
    width: 2rem;

}

.header-container .site-title-scroll a:hover,
.header-container .site-title a:hover{
    color: inherit;
}

.site-title-scroll a{
    opacity: 0;
    -webkit-transition: opacity 5s;
    -moz-transition: opacity 5s;
    transition: opacity 5s;
}
.site-title-scroll.shrink a{
    opacity: 1;
    display: inline;
}

.header-container,
.footer-container{
    background: #84b4b1;
    
}

.main-container{
    background-color: #EFF0EA ;
    margin-top: 340px;
}
.loop-container{
    position: relative;
}
.footer-container{
    position: absolute;
    width: 100%;
    clear: both;
}

.top{
    display: none;
}

.site-title-scroll a{
    display: none;
}



/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main aside {
    color: black;
    padding: 0 5% 10px;
}

.main aside .panel{
    margin-bottom: 1.5rem;
}

.main article{
    margin-top: 1rem;
}
.main article:first-of-type{
    margin-top: 0;
}
.main article header h1{
    text-transform: uppercase;
    font-weight: 300;
}

.main article header .image-header{

    margin-top: -1rem;
    margin-left: -1.1rem;
    margin-right: -1.1rem;
    height: 20rem;
    background-image: url(https://source.unsplash.com/668x300);
    -webkit-background-size: cover;
    background-size: cover;
}

.main article .post-content{
    padding-right: 1rem;
    text-align: justify;
;
}
.main article .comment-section{
    height: auto;
    overflow: hidden;

}
.main article .comment-section.shrink{
    height: 0;

}

.main article footer .post-footer{
    list-style-type: none;
    padding-left: -40px;
    display: inline;
    color: #888888;

}

.main article footer .post-footer li:first-of-type{
    float: left;
    margin: 0;
}
.main article footer .post-footer li{
    display: inline-block;
    margin: 0 5px;
    float:right;
}

.main article footer .post-footer li i{
   margin: 5px;
}


.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.button{
    background-color: transparent;
    border: 2px solid #84b4b1;
    box-sizing: border-box;
    color: #84b4b1;
    display: inline-block;
    line-height: 24px;
    padding: 2px 14px;
    position: relative;
    text-transform: uppercase;
}

.button:hover{
    color: white;
    background-color: #84b4b1;
}
.panel{
    background-color: white;
    padding: 1rem 1.1rem;

    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
             box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

.post-date{
    color: rgb(150,150,150);
    margin-top: -1rem;
    margin-bottom: 5px;
    font-size: 0.9rem;
    text-transform: uppercase;

}
.post-date i{
    margin-right: 0.2rem;
    margin-bottom: 0.5rem;
}

.post-category, .post-author {
    background-color: #84b4b1;
    color: white;
    text-transform: uppercase;
    width: 100%;
    display: block;
    padding: 5px 10px 5px 5px;
    font-size: 0.9rem;
    font-weight: 300;

}

.post-author{
    background-color: #f5f5f5;
    color: #989898;
}

.post-author:hover{
    color: #84b4b1;
}

.post-category i, .post-author i{
    margin: 0 5px 0 5px;
}

.post-category a:hover{
    color: inherit;
}

.gallery{
    display: none;
}

#rss-3{
    text-align: center;
}

#rss-3 h4{
    padding-left: 30px;
}
#rss-3 a:hover{
    color: inherit;
}
#rss-3 ul{
    list-style-type:none;
}
/* ==========================================================================
   SideBar
   ========================================================================== */

    .main aside .sidebar-title{
        background-color: #989898;
        color: #ffffff;
        font-family: Lato, sans-serif;
        font-size: 0.8rem;
        letter-spacing: 1px;
        line-height: 20px;
        margin: 0;
        padding: 10px 20px;
        text-transform: uppercase;

    }
        .main aside div{
            padding: 0; !important;
        }

        aside div ul{
            list-style: none;
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            color: #52565a;
        }

        aside div ul li{
            padding-top: 0.2rem;
        }

    /* ==========================================================================
       Search Bar
       ========================================================================== */
    .search {
        width: 100%;
        position: relative;
    }
    .search:before {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-family: 'FontAwesome';
        content: '\f002';
        background: #84b4b1;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        -webkit-font-smoothing: subpixel-antialiased;
        font-smooth: always;
    }

    .search-bar {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        border: 5px solid #84b4b1;
        padding: 5px;
        height: 40px;
        border-radius: 5px;
        outline: none;
    }

    .search-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        opacity: 0;
        cursor: pointer;

    }


    /* ==========================================================================
       Profile
       ========================================================================== */

        .profile-header img{
            border-radius: 50%;
            height: 10rem;
            width: 10rem;
            display: block;
            margin: auto;
        }

        .profile-header h3{
            display: block;
            text-align: center;
            text-transform: uppercase;
            color: #84b4b1;


        }

        .profile-header h3:before{
            content: '[';
            margin-right: 0.8rem;
        }

        .profile-header h3:after{
            content: ']';
            margin-left: 0.8rem;
        }

        .profile-details p{
            text-align: center;
            color: #888888;
        }

        /* ==========================================================================
        Recente Berichten
        ========================================================================== */



        /* ==========================================================================
        Highlighted Projects Sidebar
        ========================================================================== */

        /* ==========================================================================
        Tags Sidebar
        ========================================================================== */

        .tagcloud{
            font-size: 0.8rem;font-weight: 500;
            line-height: 0;
            margin: 0 -5px;
            padding: 15px 20px 20px;
        }

        .tagcloud a{
            background-color: transparent;
            border: 2px solid #84b4b1;
            box-sizing: border-box;
            color: #84b4b1;
            display: inline-block;
            line-height: 24px;
            margin: 5px 0 0 5px;
            padding: 2px 14px;
            position: relative;
            text-transform: uppercase;
        }

        .tagcloud a:hover{
            background-color: #84b4b1;
            color: white;
        }

        /* ==========================================================================
        Social Sidebar
        ========================================================================== */

        .sidebar-social{
            text-align: center;
            color:#52565a;

        }

        .sidebar-social a{
            margin: 5px;
            font-size: 1.5rem;
        }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    html{
        font-size: 14px;
    }
    nav a {
        font-weight: 300;
        display: inline;
        margin: auto;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    .post-category, .post-author {
        display: inline;

    }
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

/* ========================
    OTHER STYLES
   ======================== */

    .header-container{
        padding: 0;
        border: 0;
    }
    .top
    {
        font-size: 1rem;
        width:3rem;
        height:3rem;
        line-height: 3rem;
        padding:5px;
        text-align:center;
        background:#84b4b1;
        color:#fff;
        position:fixed;
        bottom:20px;
        right:1rem;
        border-radius:50%;
        text-decoration:none;
        display:none;

        transition: font-size 0.3s;
    }

    .top:hover{
        color:white;
        font-size: 1.3rem;

    }



@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

/* ============
    WIDE: Menu
   ============ */

    html{
        font-size: 16px;
    }

    nav {
        margin: auto;
        text-align: center;
    }


    nav li a{
        display: inline-block;

    }
    nav li a:hover{
        color: inherit;
        text-decoration: none;
    }
    nav li a:after{

        content: '';
        display: inline-block;
        height: 0.1em;
        width: 100%;
        border-bottom: 1px solid;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
                transform: scale(0,1);

    }

    nav li a:hover:after {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    .current-menu-item :after{
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }



/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }



    .main aside {
        float: right;
        width: 28%;
    }


    /* ============
        GALLERY
    ============ */

    .gallery {
        display: block;
        margin: 1rem auto;
        padding: 5px;
        text-align: center;

    }
    .gallery > div {
        display: inline-block;
        position: relative;
        padding: 5px;
    }

    .gallery > div > a > img {
        display: block;
        width: 7.2rem;
        transition: .1s transform;
        transform: translateZ(0); /* hack */
    }

    .gallery > div:hover {
        z-index: 1;
    }

    .gallery > div:hover > a > img {
        transform: scale(1.7,1.7);
        transition: .3s transform;
    }
    .cf:before, .cf:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .cf:after {
        clear: both;
    }
}

    /* ============
        Pagination
    ============ */

    .navigationbox{
        position: absolute;
        box-sizing: border-box;
        color: #84b4b1;
        display: inline-block;
        padding: 2px 14px;
        text-transform: uppercase;
        bottom: -20px;
        left: 0;
    }
    .page-numbers{
        display: none;
    }
    .page-numbers.current{
        position: relative;
        margin: 0 10px;
    }
    .page-numbers.prev,
    .page-numbers.next,
    .page-numbers.current{
        display: inline;
    }
    .page-numbers.prev:after{
        content: url("../img/back.png");
    }
    .page-numbers.next:after{
        line-height: 24px;
        font-size: 5px;
        content: url("../img/next.png");
    }

    .pagenavi_text:after{
        content: '';
        background-image: url("../img/next.png");
        height: 32px;
        width: 32px;
    }


@media only screen and (min-width: 1200px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 71.25rem; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    nav ul{
        margin: auto;
        text-align: center;
    }


}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }



}




